.container {
    width: 700px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.left {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

button {
    background-color: #4285e8;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
}